body {
	padding: 0px;
	margin:0px;
}

#logo {
	display:inline;
	height:32px;
	width:auto;
}

#title {
	text-align:center;
	font-size:40px;
	color:#222222;
	font-family:helvetica;
	margin-top:150px;
	cursor:pointer;
}

.thumb {
	height:130px;
	width:200px;
	background-size:cover;
	display:inline-block;
	margin:0px auto;
	float:left;
	cursor:pointer;
}

.topWrapper {
    width:600px;
	display:block;
	margin:0px auto;
    text-align:center;
}

#logout, #login, #getPhotos, #another, #yes {
	display:block;
	margin:0px auto;
	background-color:white;
	font-family:helvetica;
	border:2px solid black;
	border-radius:2px;
	cursor:pointer;
	margin-top:25px;
	width:150px;
	height:35px;
}

#another {
	margin-right:20px;
}

#buttonscenter {
	width:300px;
	margin:0 auto;
}

#coverSelect, #profileSelect {
	margin:0px auto;
	background-color:white;
	font-family:helvetica;
	border:2px solid black;
	border-radius:2px;
	cursor:pointer;
	margin-top:15px;
	width:120px;
	height:45px;
	font-size:12px;
	padding-top:75px;
}

#profileSelect {
	float:left;
	background-image:url("images/profile_dark.png");
	background-size:35px;
	background-repeat:no-repeat;
	background-position: 50% 35%;
	transition:ease all .1s;
}

#profileSelect:hover {
	background-color:#222222!important;
	background-image:url("images/profile_light.png");
	color:white!important;
}

#coverSelect {
	float:right;
	background-image:url("images/cover_dark.png");
	background-size:35px;
	background-repeat:no-repeat;
	background-position: 50% 35%;
	transition:ease all .1s;
}

#coverSelect:hover {
	background-color:#222222!important;
	background-image:url("images/cover_light.png");
	color:white!important;
}

#login, #logout {
	border:2px solid #3b5998 !important;
	color: #3b5998 !important;
}

#login:hover, #logout:hover {
	background-color:#3b5998 !important;
	color:white!important;
	transition:ease all .1s;
}

#logout, #getPhotos, #coverSelect, #profileSelect, #another, #yes {
	display:none;
}

#getPhotos {
	border:2px solid #222222 !important;
	color: #222222 !important;
}

#getPhotos:hover, #yes:hover, #another:hover {
	background-color:#222222 !important;
	color:white!important;
	transition:ease all .1s;
}

#status {
	width:100%;
	text-align:center;
	font-family:helvetica;
	margin-top:35px;
}

img {
	width:600px;
	height:auto;
	margin:0px auto;
	display:block;
}

.tag {
	display:none;
}

#radioForm {
	display:none;
}

#radioForm input {
	display:inline;
}

#radioForm label {
	display:inline;
	font-family:helvetica;
}


